<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>webManagerServlet</display-name>
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
<!-- 
Criando @WebServlet() na mão

<servlet>
	<servlet-name>Nome do Servlet que vc quiser</servlet-name>
	<servlet-class>Caminho do Servlet, no caso, br.com.manager.servlet</servlet-class>
</servlet>
<servlet-mapping>
		<servlet-name>QualquerCoisa, tem que ser igual ao servlet-name acima</servlet-name>
		<url-pattern>/ola</url-pattern>
</servlet-mapping>
-->